
@use "utils/variables" as *;
@use 'components/header.scss';
@use "utils/reset";
@use "components/footer.scss";
@use  "components/about.scss";
@use  "components/contact.scss";
@use "components/project.scss";
@use "components/front_page.scss";

@font-face {
  font-family: "Days One";
  src: url("../font/DaysOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



