@use "../utils/variables" as variables;


.text-media__content-text,
.div_p_items {
  margin-left: 20px;
  font-family: variables.$font-body;
  font-size: 1rem;
  line-height: 1.5;
}

.section_item_title {
  font-family: variables.$font-title;
  font-size: 1.875rem;
  margin: 70px 0 60px 20px;
}

.ul_div_flex {
  margin-left: 20px;
}

.card_title {
  font-family: variables.$font-body;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.card {
  span {
    display: block;
    font-size: 0.875rem;
    line-height: 2;
    font-family: variables.$font-body;
  }
}

.p_item_ {
  font-family: variables.$font-body;
  font-size: 1rem;
}

.text-media__position {
  display: flex;
  flex-direction: row;
}

.div_container_section {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.parcours {
  background-color: variables.$secondary-color;
  padding: 1rem;
  border: 10px solid variables.$main-color;
  border-radius: 0.5rem;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: variables.$font-body;
  margin-left: 20px;
  text-align: center;
}

.parcours__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-right: 20px;
}

.comp_skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.parcours_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.section_container_title {
  margin: 40px 0 24px 20px;
}

.text-media {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  justify-content: center;

    &__image {
      max-width: 200px;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-left: 20px;
      margin-bottom: 40px;
    }
  }


.div_project_h2 {
  padding-top: 20px;
}

// Responsive
@media (min-width: 300px) and (max-width: 600px) {
  .text-media,
  .text-media__position {
    flex-direction: column-reverse;
    align-items: center;
  }

  .text-media__image {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .text-media__content-text {
    margin-left: 20px;
  }

  .div_container_section,
  .parcours_card,
  .parcours__grid,
  .comp_skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1rem;
  }

  .parcours,
  .card {
    width: 70%;
    margin-left: 0;
  }
}
