@use "../utils/variables" as variables;

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

.container_logo {
  background: variables.$main-color;
  padding: 20px;
}

.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

.house {
  fill: variables.$text-color;
}

.menu_icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  span {
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 2px;
    background: variables.$text-color;
  }
}

.menu-toggle {
  display: none;
}

.menu_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-content: center;
}

.nav_main_menu {
  text-decoration: none;
  color: variables.$text-color;
  font-family: variables.$font-body;
  font-size: 1.25rem;
  font-weight: 400;
  border-bottom: 5px solid transparent;
}


.nav_header {
  padding: 0 20px;
}

.house {
  position: absolute;
  left: 90%;
  bottom: 15%;
}

.menu_icon {
  display: flex;
  order: -1;
  margin-right: auto;
  z-index: 2;
  color: variables.$text-color;
}

.menu_links {
  position: absolute;
  top: 100%;
  left: 0;
  background: variables.$main-color;
  flex-direction: column;
  gap: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
  transform-origin: top center;
  opacity: 0;
  transform: translateY(-20px) scaleY(0.95);
  transition: max-height 0.4s ease,
  padding 0.3s ease,
  opacity 0.3s ease,
  transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.menu-toggle:checked ~ .menu_links {
  max-height: 500px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0) scaleY(1);
}

.nav_main_menu {
  padding: 15px 0;
  opacity: 0;
  transform: translateY(-20px);
}

.menu-toggle:checked ~ .menu_links .nav_main_menu {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
header {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-slide-in {
  opacity: 1;
  transform: translateY(0);
}


@media (min-width: 1024px) {
  .nav_header {
    padding: 0;
  }
  .house {
    position: static;
  }

  .menu_icon {
    display: none;
  }

  .menu_links {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: none;
    opacity: 1;
    transform: none;
    padding: 0;
  }

  .nav_main_menu {
    opacity: 1;
    transform: none;
    position: relative;
    padding: 0.5rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.125rem;
      background-color: variables.$text-color;
      transition: width 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }
}