@use "../utils/variables" as variables;

.stage__headline {
  font-family: variables.$font-title;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 150px;
}

.div_project_h2 {
  font-family: variables.$font-title;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.div_project_text {
  font-family: variables.$font-body;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 106px;
}
.__div_item_project{
  padding-bottom: 20px;
}

.section_container {
  margin-left: 20px;
}

.gallery_flex_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.div_container {
  flex: 1 1 1;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.div_title_img {
  font-family: variables.$font-title;
  font-size: 1.5rem;
  margin-bottom: 24px;
}


.show_project {
  font-family: variables.$font-title;
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  padding: 20px;
}

.project_img {
  border: 5px solid variables.$main-color;
}
.div_filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; // espace entre les "boutons"
  justify-content: center;
  margin: 20px;
}

  .filter_link {
    padding: 0.5rem 1rem;
    border: 3px solid variables.$main-color;
    color: variables.$dark-font;
    text-decoration: none;
    border-radius: 8px;
    font-family: variables.$font-body;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  .active-project{
    background: variables.$secondary-color;
  }

  .project_card{
    width: 100%;
    max-width: 350px; // ajuste selon besoin
    height: auto;
    border: solid 10px variables.$main-color;
    border-radius: 8px;
    aspect-ratio: 1;
    object-fit: contain ;
    margin: 0 auto;

    &--picture {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      aspect-ratio: 1;
    }
  }