@use "../utils/variables" as variables;

.stage__headline {
  font-family: variables.$font-title;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 150px;
}

.div_project_h2 {
  font-family: variables.$font-title;
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
}

.div_project_text {
  font-family: variables.$font-body;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 106px;
}

.section_container {
  margin-left: 20px;
}

.gallery_flex_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.div_container {
  flex: 1 1 1;
  box-sizing: border-box;
  margin-bottom: 75px;
}

.div_title_img {
  font-family: variables.$font-title;
  font-size: 1.875rem;
  margin-bottom: 24px;
}

.story__fig {
  border: solid 10px variables.$main-color;
  border-radius: 8px;
  aspect-ratio: 1;
  width: calc(100% - 20px);
  height: auto;
  object-fit: cover;

  &--picture {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    aspect-ratio: 1;
  }
}

.project_img {
  border: 5px solid variables.$main-color;
}
